.job-desc {
    min-height: 250px;
}

.container-fluid {
    height: 60px;
}

.edit-btn {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
}

.project-image {
    height: 150px;
}

.border-bottom {
    border-bottom: 3px solid black;
}